<!-- This is the impact page where users learn about the impact of their waste -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impact Page</title>
    <link rel="stylesheet"  type="text/css" href="/impact.css" /> <!-- Linking to the CSS stylesheet -->
</head>
<body>
  <nav class="navbar"> <!-- Adding a navigation bar -->
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/impact">Impact</a></li>
      <li><a href="/locator">Locator</a></li>
      <li><a href="/forum">Forum</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </nav>
  <h1>SmartWaste</h1>
  <div class="container">
    <!-- The left box will educate users on impact of waste -->
    <div class="impact">
        <h2>Impact of Material Waste</h2>
        <p>According to the World Bank, waste generation was at 2.01 billion tonnes in 2016, and they estimate that it will rise to a substantial 3.40 billion tonnes by 2050, which is an increase of almost 70%. </p> 
        <p>There have been many studies carried out showing the potential consequences if waste generation continues to rise, such as increasing greenhouse gas emissions. According to the ISWA, the landfills that hold the waste emit these gasses which further increase the effect of climate change. </p>
        <p>This means that increasing waste levels will accelerate global warming, which will have numerous impacts such as rising sea levels and shifts in weather patterns. These emissions will also contribute to greater air pollution, impacting human health and leading to more respiratory diseases. </p>
        <p>According to the WWF it is estimated that anywhere from 86-150 million metric tonnes of plastic have accumulated in the ocean by now, causing detrimental effects on marine life and biodiversity.</p>  
    </div> 
    <!-- The right box will include the tips and quiz -->
    <div class="right">
        <!-- Upper right box will include tips users can cycle through -->
        <div class="tips">
            <h2>Tips to Reduce Waste</h2>
            <div class="tipsContent">
              <button id="previous"><</button>
              <p id="currentTip">Tips</p>
              <button id="next">></button>
            </div>
        </div>
    </div>
  </div>
  <script src="/tips.js"></script>
</body>
</html>