<!-- This is the landing page in which users are prompted to login or create an account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" /> <!-- Linking to the CSS stylesheet -->
</head>
<body>
    <div class="container">
        <!-- Left side of the page includes the title and mission -->
        <div class="left">
            <h1>SmartWaste</h1>
            <p1>Smart Solutions for a Greener Future</p>
        </div>

        <!-- Right side of the page contains the login form -->
        <div class="right">
            <form method="POST" action="/users/loggedin">
                <h2>Login</h2>
                <!-- Displaying error message if credentials are invalid -->
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>
                <p2>Username: <input id="username" type="text" name="username"/></p>
                <p2>Password: <input id="password" type="password" name="password"/></p>
                <input type="submit" value="Login" />
                <p></p>
            </form>
            <p>Don't have an account? <a href="/register">Register here</a></p>  <!-- Redirects to the registration page -->
        </div>
    </div>
</body>
</html>