<!-- This is the landing page in which users are prompted to login or create an account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" /> <!-- Linking to the CSS stylesheet -->
</head>
<body>
    <div class="container">
        <!-- Left side of the page includes the title and mission -->
        <div class="left">
            <h1>SmartWaste</h1>
            <p1>Smart Solutions for a Greener Future</p>
        </div>
    </div>
</body>
</html>