<!-- This is the registration page in which users can create an account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" /> <!-- Linking to the CSS stylesheet -->
</head>
<body>
    <div class="container">
        <!-- Left side of the page includes the title and mission -->
        <div class="left">
            <h1>SmartWaste</h1>
            <p1>Smart Solutions for a Greener Future</p>
        </div>

        <!-- Right side of the page contains the registration form -->
        <div class="right">
            <form method="POST" action="/users/registered">
                <h2>Register</h2>
                <!-- Displaying error messages if inputs are invalid -->
                <% if (errors && errors.length > 0) { %>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li style="color: red;"><%= error.msg %></li>
                        <% }); %>
                    </ul>
                <% } %>
                <p2>Email: <input id="email" type="text" name="email"/></p>
                <p2>Username: <input id="username" type="text" name="username"/></p>
                <p2>Password: <input id="password" type="password" name="password"/></p>
                <input type="submit" value="Register" />
              </form>
              <p>Already have an account? <a href="/">Login here</a></p>
        </div>
    </div>
</body>
</html>