body {
    background: url(https://cdn.wallpapersafari.com/82/54/P8p5re.jpg);
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

h2, p {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    font-size: 1.5vw;
}

nav {
    position: fixed; /* Ensuring navigation bar stays in the top left corner */
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7); 
    padding: 10px 15px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Container for the impact page */
.container {
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 20px; 
    box-sizing: border-box;
    justify-content: center;
}

/* Styling for the impact box */
.impact {
    flex: 0.55; 
    height: 80%; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.65); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 5%; 
    margin-top: 7%; 
}

/* Styling for the right boxes */
.right {
    flex: 0.35;
    display: flex;
    flex-direction: column;
    gap: 80px; 
    height: 80%; 
    margin-top: 7%; 
}

/* Styling for the quiz and tips boxes */
.tips, .quiz {
    flex: 1; 
    background-color: rgba(255, 255, 255, 0.65); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 45%; 
    text-align: center;
}

.tipsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw; /* Space between arrows and text */
}

#previous, #next {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#previous:hover, #next:hover {
    transform: scale(1.2);
}
